<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
			<meta charset="utf-8">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<body>
	<div class="container container-fluid" style="text-align: center; margin-top: 10%;"  >
	<form class="form-inline" method="post" action="/login" >
		<input class="form-control" type="username" placeholder="username" style="width: 50%;height: 40px;" />
		<input class="form-control btn btn-success" type="submit" value="Enter" style="width: 10%; height: 40px;" />
	</form>
	</div>
</body>
</html>


