<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>alis</string>
		</dict>
		<dict>
			<key>name</key>
			<string>arf</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>baby</string>
		</dict>
		<dict>
			<key>name</key>
			<string>baobao</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>chenliang</string>
		</dict>
		<dict>
			<key>name</key>
			<string>chen</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>大家好</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大家好</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大家好</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大家好</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大家好</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大家好</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dahai</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eee</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
		<dict>
			<key>name</key>
			<string>func</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl</string>
		</dict>
	</array>
</dict>
</plist>
