body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon38_msg.succ {
    	background: url(../images/icon_popup3696b4.png)0 -46px no-repeat;
}